body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #DA3069, #14469F);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-container {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
    font-size: 24px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 12px;
    width: 80%;
    border: 2px solid #DA3069;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    transition: border 0.3s ease;
}

input[type="text"]:focus {
    border-color: #DA3069;
}

button {
    padding: 12px 18px;
    background-color: #DA3069;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #DA3069;
    transform: scale(1.05);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    background-color: #f4f4f4;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.task-item:hover {
    transform: scale(1.02);
}

.checkbox {
    margin-right: 15px;
    transform: scale(1.2);
}

.task-item span {
    flex-grow: 1;
}

.completed span {
    text-decoration: line-through;
    color: #888;
}

.remove-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.remove-btn:hover {
    background-color: #c82333;
    transform: scale(1.05);
}
